/* Banner */

.logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#combies-logo {
    margin: 15px;
    max-height: 80px;
    max-width: 100%;
    vertical-align: middle;
}

.header {
    padding-top: 20px;
}

/* Cards */

.card {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 80%;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.base-card {
    filter: brightness(50%);
    transition: all .5s ease;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    height: 102%;
    inset: -.5rem;
    z-index: -2;
    background: conic-gradient(
        from var(--gradient-angle),
        #cf9e41,
        #df7b42,
        #852114,
        #df7b42,
        #cf9e41);
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}

.card::after {
    filter: blur(12px);
}

.card-text {
    padding: 25px;
    border: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0) 100%); 
}

.card-header {
    color: white;
    background-color: transparent;
    font-size: 36px;
    font-family: 'Anybody', cursive;
    font-weight: 600;

}

.card-owners {
    color: lightgray;
    padding-left: 16px;
}

.card-video {
    position: absolute;
    z-index: 0;
    opacity: 0;
    width: 100%;
    border-radius: 20px;
    transition: opacity 0.5s;
}

.card-desc {
    position: absolute;
    bottom: 0%;
    z-index: 10;
    height: 25%;
    background: linear-gradient(to top, #030303 0%, #19191ab0 60%, #0011ff00 100%);
    mask: linear-gradient(to top, #030303 0%, #19191ab0 60%, #0011ff00 100%);
    backdrop-filter: blur(3px);
}

.card-desc-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 19px;
    color: white;
    filter: drop-shadow(0 0 1.75rem black);
}

#cardHolder {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 60px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    scroll-behavior: smooth;
    
    -webkit-mask-image: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 3%);
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    z-index: 1;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
    transition: opacity 0.5s;
}

.vanish {
    opacity: 0;
}

.unvanish {
    opacity: 1;
}

body {
    font-family: 'Anybody', cursive;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: conic-gradient(
        from var(--gradient-angle),
        #3b1438,
        #270b3a,
        #1f0a22,
        #270b3a,
        #3b1438);
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}

/* Marquee */

#content {
    color: #6b1e58;
    font-size: 80px;
    font-family: 'Anybody', cursive;
    font-weight: 800;
    font-stretch: 150%;
    font-variation-settings: "wdth" 150;
}

#outer {
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%);
}

#outer div {
    display: inline-block;
}

#loop {
    white-space: nowrap;
    animation: loop-anim 25s linear infinite;
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -50% /* This works because of the div between "outer" and "loop" */
    }
}

/* Fade in */

.overlay{
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index:1;
    background-color:rgb(21, 8, 39);
    background: linear-gradient(180deg, rgba(25,5,91,1) 0%, rgba(43,7,66,1) 35%, rgba(24,0,29,1) 100%);
}

@keyframes fadeIn {
    from{
        opacity: 1;
        transform: scale(1.0);
    }
    to{
        opacity: 0;
        transform: scale(1.1);
    }
}

#combies-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: floating 6s ease-in-out infinite;
    filter: drop-shadow(0 0 1.75rem crimson);
}

@keyframes floating { 
    0% { transform: translate(-50%,  -50%); } 
    50%  { transform: translate(-50%, -52%); } 
    100%   { transform: translate(-50%, -50%); }     
} 

#font-loading {
    color:rgb(19, 4, 15);
    z-index: -1;
    font-size: 30vw;
    position: absolute;
    top: -10%;
    left: -3%;
    transform: skew(-14deg) rotateZ(-8deg);
    font-family: 'Anybody', cursive;
    font-weight: 800;
    word-spacing: 100vw;
    width: 120%;
    line-height: 0.7;
}

/* Fade out */

.overlay-black {
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index:999;
    opacity: 0;
    background-color:rgb(21, 8, 39);
}

@keyframes fadeOut {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}