/* Container */

#chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 10px 7px rgba(36, 12, 80, 0.5));
}

/* Sliders */

.slider {
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(44, 26, 61);
    position: relative;
    z-index: -5;
    transition-duration: .5s;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
}

.slider-progress {
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 0;
    z-index: -1;
    position: absolute;
    transition-duration: 1s;
    transition-property: width;
    transition-timing-function: ease-in-out;
}
  
.slider-header {
    text-align: left;
    display: inline-block;
    width: 93%;
    font-family: 'Anybody', cursive;
    padding: 8px;
    padding-top: 10px;
    padding-left: 15px;
    color: rgb(235, 229, 229);
}

.slider-percentage {
    text-align: right;
    display: inline-block;
    padding-left: 6px;
    font-family: 'Anybody', cursive;
    font-weight: 800;
    color: rgb(235, 229, 229);
}

/* Background */
body {
    background-color: rgb(23, 10, 36);
    overflow: hidden; /* Hide scrollbars */
}

/* Fade from black */

.overlay-black {
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index:1;
    background-color:rgb(21, 8, 39);
}

@keyframes fadeIn {
    from{
        opacity: 1;
        transform: scale(1.0);
    }
    to{
        opacity: 0;
        transform: scale(1.1);
    }
}

/* Results */
.results {
    font-family: 'Anybody', cursive;
    font-weight: 800;
    color: gold;
    padding-top: 3rem;
    z-index: 10;
    background: linear-gradient(to right, #be5d1c 20%, #dbba27 30%, gold 70%, #be5d1c 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 3s ease-in-out infinite;
}

@keyframes textShine {
    to {
      background-position: 200%;
    }
}

.header {
    top: 0;
    width: 100%;
    height: 6rem;
    background: rgb(72,25,97);
    background: linear-gradient(180deg, rgba(72,25,97,0.6933962264150944) 0%, rgba(57,18,75,0.6721698113207547) 40%, rgba(0,0,0,0) 83%);
}

.category {
    font-family: 'Anybody', cursive;
    font-weight: 800;
    color: gold;
    z-index: -5;
    font-size: 72px;
    top: -76px;
    left: 20px;
    position: relative;
    color: rgb(47, 27, 58);
}

/* Winner screen */

.winner {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/example.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
}

.winnerGradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255,128,8,0.6933962264150944) 0%, rgba(255, 199, 30, 0.322) 40%, rgba(0,0,0,0) 83%);
    backdrop-filter: blur(10px);
}

.winnerWrapper {
    width: 80%;
    position: absolute;
    top: 45%;
    padding-left: 15%;
    transform: translateY(-50%);
}

.winnerConfetti {
    font-family: 'Anybody', cursive;
    color: rgb(216, 116, 211);
    font-size: 2vw;
    text-shadow: 2px 2px 0px black;
    position: absolute;
    bottom: 10%;
    padding-left: 15%;
}

@keyframes skewWinner { 
    0% { transform: translateY(-50%) skew(0) rotateZ(0); } 
    40%  { transform: translateY(-50%) skew(-9deg) rotateZ(-1deg); } 
    100%   { transform: translateY(-50%) skew(-18deg) rotateZ(-14deg); }     
} 

.winnerHeader {
    font-family: 'Anybody', cursive;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 9vw;
    line-height: 0.8;
    text-shadow: 8px 8px 0px black;
}

.winnerText {
    font-family: 'Anybody', cursive;
    color: rgb(216, 116, 211);
    font-size: 5vw;
    text-shadow: 8px 8px 0px black;
}